{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">

  <div class="col">

    <h3 class="text-center">Sign in to News</h3>
    <div class="card mb-3   mx-auto w-25 shadow">
      <div class="card-body">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
              {% crispy form %}
              <button type="submit" class="btn btn-outline-success hello ">Sign in</button>
              <a class="float-right" href="{% url 'password_reset' %}">Forget Password?</a>
          </div>
        </form>
      </div>
    </div>
    <p class="btn btn-block btn-outline-success w-25 mx-auto shadow">New to here?.<a href="{% url 'signup' %}" >Create an account</a></p>
  </div>

</div>



{% endblock %}
